
.pvp {
	font-size: large;
	color: red;
}

.tiemporestante {
	float: right; 
	font-size: large;
	color: red;
}

/*MODAL REGISTRAR*/

.modal-header {
	border-bottom: 0;
}

.modal-puja h3 {
	text-align: center;
}

.msg-error {
	color: red;
	display: none;
}
.modal-footer {
   border-top: 1px solid #e5e5e5; 
}

#ultimosPujadores {
	height: 421px;
  	overflow-y: scroll;
}